@using BowlingCoacher.Shared.Classes

@code {
    private GameStateManager? gameStateManager;

    [Parameter] public int Id { get; set; }

    protected override void OnInitialized(){
        gameStateManager = new GameStateManager(Id);
    }
}

<div class="bowling-score-sheet">
    <h4>Game @gameStateManager!.GameId </h4>

    <table class="score-table">
        <thead>
            <tr>
                <th> Frame 1</th>
                <th> Frame 2</th>
                <th> Frame 3</th>
                <th> Frame 4</th>
                <th> Frame 5</th>
                <th> Frame 6</th>
                <th> Frame 7</th>
                <th> Frame 8</th>
                <th> Frame 9</th>
                <th> Frame 10</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td> 
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[0].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[0].SecondValue" />
                </td>
                <td> 
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[1].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[1].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[2].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[2].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[3].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[3].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[4].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[4].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[5].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[5].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[6].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[6].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[7].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[7].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[8].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[8].SecondValue" />
                </td>
                <td>
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[9].FirstValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[9].SecondValue" />
                    <input class="shot-input" type="text" maxlength="1" @bind-value="gameStateManager.FrameValues[9].BonusValue" />
                </td>
            </tr>

            <tr>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
                <td> <input type="number" class="score-input" /> </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .score-table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    .score-table th, .score-table td {
        border: 1px solid #ccc;
        padding: 4px;
    }

    .shot-input {
        width: 27%;
        margin: 2px;
    }

    .score-input {
        width: 60%;
        margin: 2px;
    }
</style>